* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.history-top-section {
  background-color: #3367d6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.list-items {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
